<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.OperationLogMapper">

    <insert id="insert" parameterType="com.wms.entity.OperationLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO operation_log (operator, ip, request_url, method_name, duration, status, result,
                                   create_time, update_time, create_by, is_deleted, version)
        VALUES (#{operator}, #{ip}, #{requestUrl}, #{methodName}, #{duration}, #{status}, #{result},
                #{createTime}, #{updateTime}, #{createBy}, 0, 0)
    </insert>

</mapper>
